#root{
  margin: 0; 
  padding: 0;
}
:root {
  --circle-size: clamp(1rem, 5vw, 2.5rem);
  --spacing: clamp(0.25rem, 2vw, 0.5rem);
  --color-blue: #1083FE;
  --color-gray: gray;
}
*{  
    font-family: "Roboto", "Arial", sans-serif;
}

/* tab*/
.tab {
  display: inline-block; 
  position: relative;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  padding: 12px 8px;  
}

.tab .underline {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 3px;
  width: 100%; 
  background-color: rgb(21, 154, 231);
  display: none;
  transition: transform 0.3s ease;
}

.tab.active .underline {
  display: block;
}

/* qrcode */
.corner {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid #0d6efd;
}

.corner.top-left {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.corner.top-right {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.corner.bottom-left {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}

.corner.bottom-right {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

/*stepper */
.stepper {
  list-style: none;
  padding: 0;
  margin: 0;
}

.stepper__item {
  position: relative;
  display: flex;
  gap: 1rem;
  padding-bottom: 2.5rem;
}

.stepper__circle {
  flex: 0 0 var(--circle-size);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--circle-size);
  border-radius: 50%;
  border: 1px solid lightgrey;
  z-index: 1; 
}

.stepper__item:not(:last-child)::after {
  content: "";
  position: absolute;
  left: calc(var(--circle-size) / 2 - 1px);
  top: calc(var(--circle-size) + var(--spacing));
  bottom: var(--spacing);
  width: 1px;
  border: dashed 1px lightgrey;
  z-index: 0;
}

.stepper__title {
  font-weight: 500;
  font-size: clamp(0.4rem, 4vw, 0.6rem);
  margin-bottom: clamp(0.2rem, 2vmax, 0.4rem);
}

.stepper__desc {
  font-weight: 600;
  font-size: clamp(0.6rem, 2vmax, 0.8rem);
}

.stepper__content {
  max-width: 700px;
}
/* Global */
/* ************* */
    /* error page */
    .error__card{
      margin: 0 auto;  
    }
    /* layout_components */
    .group__layout{
      position: relative;
      width: 100%;
      max-width: 1196px;
      margin: 0 auto;  
    }

  /* Card */
  .cardProfile:hover{
    background-color: #f8f9fa;
  }
  /* Text */
  .text-content__header{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: clamp(2em, 3vmax, 3em);
  }
  .text-content__title{
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }
  .text-color__header{
    color: var(--color-blue);
  }
  .text__custom{
    display: flex;
    justify-content: center; 
    align-items: center;            
  }
  /* link__leftside */
  .text-link__title{
    padding: 12px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
  }

/*******************/
input::placeholder {
  color: rgb(111, 134, 159);    
}
input:-webkit-autofill {
  -webkit-text-fill-color: black;
  /* -webkit-box-shadow: 0 0 0px 1000px transparent inset; */
  box-shadow: 0 0 0px 1000px rgb(241, 243, 245) inset;
}
.textField{
  font-family:  sans-serif;
  outline: none;
  background-color: rgb(241, 243, 245);
  padding-left: 4px;
  padding-right: 4px;
  z-index: 20;
}
.textField__container{
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 8px;
  height: 40px;
  background-color: rgb(241, 243, 245);
  padding-left: 12px;
  padding-right: 12px;
  &:hover{
    outline: 2px solid rgb(111, 134, 159);
  }
  &:focus-within{
    outline: 2px solid#0d6efd;
    & .textField__icon{      
      color:#0d6efd;     
    }
    & .button__wrapper{
      background:  rgb(251, 251, 252);
    }
  }
}
.textField__icon{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding-right: 4px;
  color: rgb(111, 134, 159);
}
.button__wrapper{
  display: flex;
  border-radius:8px;
  position: relative;
  padding: 6px;
  font-size: 15px;
  line-height: 15px;
}